{% extends "base.html" %}
{% load django_bootstrap5 %}
{% load i18n %}
{% get_current_language as LANGUAGE_CODE %}

{% block content %}
	<h1>About Users шаблон лежит в template/users/index.html</h1>
	<p>Эксперименты с Django на Хекслете</p>
    <h1>List of users:</h1>
    {% for user in users %}
    <a class="nav-link" href="{% url 'users:user_show' id=user.id %}"><h2>{{ user.first_name }}</h2>
	    <div>{{ user.last_name }} age: {{ user.age }}</div></a>
    <a class="nav-link" href="{% url 'users:user_update' id=user.id %}">Edit user</a>
     <form action="{% url 'users:user_delete' user.id %}" method="post">
    {% csrf_token %}
    <input type="submit" value="Удалить">
</form>
    {% endfor %}
{% endblock %}
