{% extends "base.html" %}
{% load django_bootstrap5 %}
{% load i18n %}

{% block content %}

<div class="container">
    <h1 class="h1 text-left">{% trans "Task detail" %}</h1>
    <div class="card mt-3">
        <div class="card-header">
            {{ task.name }}
        </div>
        <div class="card-body">
            <h5 class="card-title">{% trans "Details" %}</h5>
            <p class="card-text"><strong>{% trans "Description" %}: </strong>{{ task.description }}</p>
            <p class="card-text"><strong>{% trans "Status" %}: </strong>{{ task.status.name }}</p>
            <p class="card-text"><strong>{% trans "Owner" %}: </strong>{{ task.owner.first_name }} {{ task.owner.last_name }}</p>
            <p class="card-text"><strong>{% trans "Executor" %}: </strong>{{ task.executor.first_name }} {{ task.executor.last_name }}</p>
            <p class="card-text"><strong>{% trans "Created at" %}: </strong>{{ task.created_at|date:"Y-m-d H:i" }}</p>
            <p class="card-text"><strong>{% trans "Labels" %}: </strong></p>
            <ul>
                {% for label in task.labels.all %}
                    <li>{{ label.name }}</li>
                {% endfor %}
            </ul>
            <a href="{% url 'tasks:tasks_update' task.id %}" class="btn btn-primary">{% trans "Update" %}</a>
            <a href="{% url 'tasks:tasks_delete' task.id %}" class="btn btn-danger">{% trans "Delete" %}</a>
        </div>
    </div>
</div>

{% endblock %}
