{% extends "base.html" %}
{% load django_bootstrap5 %}
{% load i18n %}

{% block content %}

<div class="container">
    <h1 class="h1 text-left">{% trans "Task detail" %}</h1>
</div>
<div class="container">
    <p>{% trans "Name" %}: {{ task.name }}</p>
    <p>{% trans "Description" %}: {{ task.description }}</p>
    <p>{% trans "Status" %}: {{ task.status.name }}</p>
    <p>{% trans "Owner" %}: {{ task.owner.first_name }} {{ task.owner.last_name }}</p>
    <p>{% trans "Executor" %}: {{ task.executor.first_name }} {{ task.executor.last_name }}</p>
    <p>{% trans "Created at" %}: {{ task.created_at|date:"Y-m-d H:i" }}</p>
    <p><a href="{% url 'tasks:tasks_update' task.id %}">{% trans "Update" %}</a></p>
    <p><a href="{% url 'tasks:tasks_delete' task.id %}">{% trans "Delete" %}</a></p>
</div>

{% endblock %}
